/* basic page styles */
*, *:before, *:after {
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: arial, helvetica, free-sans, sans-serif;
	font-size: 1em;
	background-color: #ddd;
	color: #333;
	line-height: 1.4;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

h1, h2, h3 {
	font-weight: normal;
	font-size: 1.6em;
	margin: 2rem 0 0.2rem 0;
}

h1 {
	margin-top: 0;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

p {
	margin: 0 0 1em 0;
}

ul, ol {
	margin: 1em 0 1.5em 3em;
}

li {
	margin: 0 0 0.75em 0;
}

img {
	float: right;
	width: auto;
	height: auto;
	max-width: 50%;
	margin: 0 0 1em 1em;
}

pre {
	padding: 0.2em 0.4em;
	margin: 1em 0 1.5em 3em;
	color: #353;
	background-color: #fff;
	border-radius: 3px;
	overflow: auto;
}

code {
	font-family: Consolas, Menlo, "DejaVu Mono", monospace;
	padding: 0 0.2em;
	background-color: #fff;
	border-radius: 3px;
}

.pagelist {
	list-style-type: none;
}

.pagelist li {
	margin: 0 0 1.5em 0;
}

.pagelist h2, .pagelist p {
	margin: 0;
}

.pagelist p {
	color: #333;
}

.articleinfo {
	font-size: 0.8em;
	color: #777;
}

.pagelist p.articleinfo {
	float: right;
	color: #777;
}

a:link, a:visited {
	text-decoration: none;
	color: #00c;
}

a:hover, a:active {
	color: #c00;
}

/* layout */
.content {
	max-width: 50em;
	margin: 0 auto;
}

main {
	clear: both;
	background-color: #eee;
	overflow: auto;
}

article {
	padding: 1rem 0.2rem;
}

header, footer {
	clear: both;
	width: 100%;
	overflow: auto;
	background-color: #ddd;
}

footer {
	font-size: 0.85em;
	padding: 1em;
	text-align: center;
}

footer p {
	margin: 0;
}

.logo {
	font-size: 1.5em;
	padding: 0.2rem;
	margin: 0;
}

.logo a {
	color: #999;
}

/* navigation */
.nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
}

.nav li {
	flex: 1 1 100%;
	margin: 0;
}

.nav a, .nav strong {
	display: block;
	text-align: center;
	white-space: nowrap;
	padding: 0.6em 0;
}

.nav.main a {
	color: #222;
}

.nav a.active, .nav strong {
	background-color: #eee;
}

@media (min-width: 16em) {

	.nav li {
		flex: 1 1 50%;
	}

}

@media (min-width: 32em) {

	header {
		position: fixed;
		top: 0;
	}

	.logo {
		float: left;
	}

	.nav.main {
		float: right;
	}

	.nav li {
		flex: 1 1 auto;
	}

	.nav.main li {
		width: 6em;
	}

	main {
		padding: 3em 0 2em 0;
	}

	.subpages .content {
		display: flex;
	}

	.subpages article {
		flex: 1 1 70%;
	}

	.subpages .nav.sub {
		flex: 1 1 30%;
		margin: 0 0.2rem 0 2rem;
	}

	.nav.sub ul {
		margin-top: 1em;
		flex-direction: column;
		border-top: 1px dotted #ccc;
	}

	.nav.sub li {
		border-bottom: 1px dotted #ccc;
	}

	.nav.sub a, .nav.sub strong {
		text-align: left;
		padding-left: 0.75em;
	}

	.nav.page {
		margin-top: 1.5em;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}

	.nav.page a {
		text-align: left;
	}

	.nav.page a.next {
		text-align: right;
	}

}
