<footer class="clearfix">
  <div class="row expanded row-footer01">
    <div class="row">
      <div class="large-10 large-offset-1 columns">
          <ul class="vertical medium-horizontal menu">
            <li><a href="https://www.instagram.com/artisan_maker/"
            target="_blank">Instagram</a></li>
          </ul>
      </div>
    </div>
    <div class="row">
      <div class="large-10 large-offset-1 columns">
          <ul class="vertical medium-horizontal menu">
            <li><a href="{{ root }}legal/cookies/">Website Cookies</a></li>
            <li><a href="{{ root }}legal/ecommerce-terms/">E-Commerce Terms and
            Conditions</a></li>
            <li><a href="{{ root }}legal/website-terms/">Website Terms and
            Conditions</a></li>
            <li><a href="{{ root }}legal/privacy-policy/">Privacy Policy and
            Data Protection</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="row expanded row-footer02">
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <p>Copyright 2018. Artisan Maker, Devon.</p>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
