{{#compare section 'homepage' operator="=="}}
<!-- <div class="orbit" role="region" aria-label="Silversmith" data-orbit data-options="data-timer-delay:8000;">
  <ul class="orbit-container">
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="http://placehold.it/800x220" alt="Space">
      <figcaption class="orbit-caption">Caption goes here</figcaption>
    </li>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="http://placehold.it/800x220" alt="Space2">
      <figcaption class="orbit-caption">Another caption</figcaption>
    </li>
  </ul>
</div> -->
<div class="row collapse">
  <div class="herobanner">
    <div class="large-7 columns">
      <img src="{{ root }}images/artisan2.png" />
    </div>
    <div class="large-5 columns">
      <img src="{{ root }}images/hero.jpg" />
    </div>
  </div>
</div>

<div class="row">
  <h1>Lovingly Handcrafted Using Precious Metals</h1>
</div>

<!-- <div class="orbit" role="region" aria-label="Hero Banner" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous" aria-label="previous">
      <span class="show-for-sr">Previous</span>&#9664;
    </button>
    <button class="orbit-next" aria-label="next">
      <span class="show-for-sr">Next</span>&#9654;
    </button>
    <li class="orbit-slide is-active">
      <img src="https://placehold.it/2000x750&amp;text=1st" />
    </li>
    <li class="orbit-slide">
      <img src="https://placehold.it/2000x750&amp;text=2nd" />
    </li>
    <li class="orbit-slide">
      <img src="https://placehold.it/2000x750&amp;text=3nd" />
    </li>
    <li class="orbit-slide">
      <img src="https://placehold.it/2000x750&amp;text=4nd" />
    </li>
  </ul>
</div> -->
{{/compare}}
