{{#compare section 'homepage' operator="=="}}
<div class="orbit" role="region" aria-label="Silversmith" data-orbit data-options="data-timer-delay:8000;">
  <ul class="orbit-container">
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="http://placehold.it/800x220" alt="Space">
      <figcaption class="orbit-caption">Caption goes here</figcaption>
    </li>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="http://placehold.it/800x220" alt="Space2">
      <figcaption class="orbit-caption">Another caption</figcaption>
    </li>
  </ul>
</div>
{{/compare}}
