<!-- main navigation -->
<div class="top-bar" id="menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Artisan Maker</li>
      {{#each navmain}}
        <li>
          <a href="{{path}}"{{#if active}} class="active"{{/if}}>{{title}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>
