

{{#if navsub}}

	{{#each navsub}}

			<div class="responsive-blog-post row">
				<div class="individual-post">
					<a href="{{ path }}"><h4>{{ title }}</h4></a><br />
					{{#compare ../template 'blog' operator="=="}}
						<p class="articleinfo">Published {{ dateFormat }}</p>
					{{/compare}}

					{{#if image}}
						<a href="{{ path }}">
							<img src="{{ ../root }}{{ image }}" width="50%" class="float-left" style="margin-right:30px;" />
						</a>
					{{/if}}
					{{#if description}}
						<p>{{ description }}</p>
					{{/if}}
					
					{{#compare ../template 'blog' operator="=="}}
					<a class="button" href="{{ path }}">Read More</a>
					{{/compare}}
					{{#compare ../template 'product' operator="=="}}
					<a class="button" href="{{ path }}">Product Details</a>
					{{/compare}}
				</div>
			</div>

	{{/each}}

{{/if}}
